/*====================================================
      Global
====================================================*/
body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

ul
{
  list-style: none;
  padding-left:0;
  
}

/*====================================================
      Header
====================================================*/

header{
  position:fixed;
  width:100%;
}

/*====================================================
      Accueil
====================================================*/

#Accueil{
    
    background: url('../img/ldd/home-bg.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;


  z-index:-1;
    display: flex;
    flex-direction: row;


    min-height: 100vh;

    
    position: relative;
    overflow: hidden;
    padding-top: 10em; 
  }



#Accueil  article {
    align-self: center;
  }

#Accueil  img {
    z-index: 10;
    border-radius: 50px;

  }

#Accueil h1 {
    color: #ffffff;
  }


#Accueil  .section-btn {
    background: transparent;
    border: 2px solid #f9f9f9;
    color: #f9f9f9;
  }

#Accueil  .section-btn:hover,
#Accueil  .section-btn:focus {
    background: #ce3232;
    border-color: transparent;
    color: #ffffff;
  }


   .overlay {
     z-index:-2;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
  }

/*====================================================
      Accueil2
====================================================*/

#Accueil2
{
  background-color:white;
  text-align: center;
  padding-right:15em;
  padding-left:15em;
  padding-top:3em;
  padding-bottom:3em;
}


/*=================
      Mobile
==================*/

@media screen and (max-width: 900px) {
  #Accueil2
  {
    padding-right:3em;
    padding-left:3em;
  }
}


/*====================================================
      Formation
====================================================*/

#Formation 
{
  background-color:#e4e2e2;
  text-align:center;
  padding-top:3em;
  padding-bottom:3em;
  
}
/*====================================================
      Compétences
====================================================*/
#Competences 
{
  background-color:white;
  text-align: center;
  padding-top:2em;
  padding-bottom:2em;
  
}

#Competences ul li {
  padding-top:3em;
  padding-bottom:3em;
  
  
}

#Competences ul li div {
  margin-right:1em;
  margin-left:1em;
  background-color:white;
  height:100%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius:1em;
  
 
}

#Competences ul li div:hover {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 60px;
}

#Competences ul li img {
 border-radius:1em;
 border-bottom-right-radius:0;
 border-bottom-left-radius:0;
  margin-bottom:2em;
}


/*====================================================
      Projets
====================================================*/

#Projets
{
  background-color:#e4e2e2;
  text-align:center;
  padding-top:3em;
  padding-bottom:3em;
  
}

#Projets li
{
  margin-bottom:4em;
  margin-top:4em;
  
}

#Projets li div {
  padding:5em;
  
}

#Projets li div, #Projets li img {
  
  
}

#Projets li div{
  psition:relative;
  background-color:white;
  height:100%;
}


/*====================================================
      Expériences
====================================================*/

#Experiences 
{
  text-align:center;
  padding-top:3em;
  padding-bottom:3em;
}


#Experiences ul li {
  background: #e4e2e2;
  margin-bottom : 2em;
  margin-top: 2em;  
}


#Experiences ul li article {
  text-align: center;
  align-self: center;
  padding-left: 10%;
  padding-right: 10%;
}





/*====================================================
      Loisirs
====================================================*/
