/*====================================================
      Global
====================================================*/
body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

ul
{
  list-style: none;
  padding-left:0;
  
}

a {
    color: #252525;
    font-weight: normal;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
  }

a:hover, a:active, a:focus {
    color: #ce3232;
    outline: none;
  }


  .section-btn {
    background: #ce3232;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
  }

/*====================================================
      Header
====================================================*/

navbar:first-of-type {
    padding: 25px 5px;
    position:fixed;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  }

navbar:first-of-type .navbar-brand {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;  
  }


navbar:first-of-type a {
    font-size: 14px;
    font-weight: 500;
    color: black;
    letter-spacing: -0.5px;
    padding-right: 22px;
    padding-left: 22px;
  }


navbar:first-of-type div li a:hover {
   
    color: #ce3232;
    
  }
















/*====================================================
      Accueil
====================================================*/

#Accueil{
    
    background: url('../img/ldd/home-bg.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;



    display: flex;
    flex-direction: row;


    min-height: 100vh;

   
    position: relative;
    overflow: hidden;
    padding-top: 10em; 
  }



#Accueil  article {
   z-index:10;
    align-self: center;
  }

#Accueil  img {
    z-index:10;
    border-radius: 50px;

  }

#Accueil h1 {
    color: #ffffff;
  }


#Accueil .section-btn {
    background: transparent;
    border: 2px solid #f9f9f9;
    color: #f9f9f9;
    
  }


#Accueil .section-btn:hover,
#Accueil .section-btn:focus {
    background: #ce3232;
    border-color: transparent;
    color: #ffffff;
  }


   .overlay {
     z-index:0;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
  }

/*====================================================
      Accueil2
====================================================*/

#Accueil2
{
  background-color:white;
  text-align: center;
  padding-right:15em;
  padding-left:15em;
  padding-top:3em;
  padding-bottom:3em;
}


/*=================
      Mobile
==================*/

@media screen and (max-width: 900px) {
  #Accueil2
  {
    padding-right:3em;
    padding-left:3em;
  }
}


/*====================================================
      Formation
====================================================*/

#Formation 
{
  background-color:#e4e2e2;
  text-align:center;
  padding-top:3em;
  padding-bottom:3em;
  
}
/*====================================================
      Compétences
====================================================*/
#Competences 
{
  background-color:white;
  text-align: center;
  padding-top:2em;
  padding-bottom:2em;
  
}

#Competences ul li {
  padding-top:3em;
  padding-bottom:3em;
  
  
}

#Competences ul li div {
  margin-right:1em;
  margin-left:1em;
  background-color:white;
  height:100%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius:1em;
  
 
}

#Competences ul li div:hover {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 60px;
}

#Competences ul li img {
 border-radius:1em;
 border-bottom-right-radius:0;
 border-bottom-left-radius:0;
  margin-bottom:2em;
}


/*====================================================
      Projets
====================================================*/

#Projets
{
  background-color:#e4e2e2;
  text-align:center;
  padding-top:3em;
  padding-bottom:3em;
  
}

#Projets li
{
  margin-bottom:4em;
  margin-top:4em;
  
}

#Projets li div {
  padding:5em;
  
}

#Projets li div, #Projets li img {
  
  
}

#Projets li div{
  psition:relative;
  background-color:white;
  height:100%;
}


/*====================================================
      Expériences
====================================================*/

#Experiences 
{
  text-align:center;
  padding-top:3em;
  padding-bottom:3em;
  
}


#Experiences ul li {
  background: #e4e2e2;
  margin-bottom : 2em;
  margin-top: 2em;  
  margin-left:4em;
  margin-right:4em;
  overflow:hidden;



}


#Experiences ul li article {
  text-align: center;
  align-self: center;
  padding:5% 8%;
  
}
#Experiences ul li img {
  
  
  height:auto;
  position:relative;
    
}





/*====================================================
      Loisirs
====================================================*/
#Loisirs {
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



/*====================================================
      JavaScript
====================================================*/
.filter-list ul li:nth-child(n + 4) {
  display: none !important;
}
.filter-list ul li.showList:nth-child(n + 4) {
  display: flex !important;
}
.filter-list label.more {
  color: #f86843;
  font-weight: 600;
  font-style: oblique;
  display: none ;
}
.filter-list label.more.showMe {
  display: block;
}
